q1 meta engine.demand.q1 stated "demand site.port \"on which tcp port should the website be served?\"" @gen:8c2942c4e29ca22d
r1 meta engine.rule.r1 stated "match fact site.port => systemd.services.<self>.description \"\\\"canvas website served by its own small Go http server\\\"\" ; systemd.services.<self>.after \"[ \\\"network.target\\\" ]\" ; systemd.services.<self>.wantedBy \"[ \\\"multi-user.target\\\" ]\" ; systemd.services.<self>.environment.PORT \"\\\"<value>\\\"\" ; systemd.services.<self>.serviceConfig.ExecStart \"\\\"${artifact.website}/bin/website\\\"\" ; systemd.services.<self>.serviceConfig.Restart \"\\\"always\\\"\" ; systemd.services.<self>.serviceConfig.DynamicUser \"true\" ; networking.firewall.allowedTCPPorts \"[ <value:int> ]\" ; artifact.website.builder \"\\\"buildGoModule\\\"\" ; artifact.website.args.pname \"\\\"website\\\"\" ; artifact.website.args.version \"\\\"0.1.0\\\"\" ; artifact.website.args.src \"./artifacts/website\" ; artifact.website.args.vendorHash \"null\"" @gen:8c2942c4e29ca22d
r2 meta engine.rule.r2 stated "match fact canvas.<i> => systemd.services.<self>.environment.CANVAS_<i>_NAME \"\\\"<value>\\\"\"" @gen:8c2942c4e29ca22d
r3 meta engine.rule.r3 stated "match fact canvas.<i>.content => systemd.services.<self>.environment.CANVAS_<i>_CONTENT \"\\\"<value>\\\"\"" @gen:8c2942c4e29ca22d
r4 meta engine.rule.r4 stated "match fact button.<i> => systemd.services.<self>.environment.BUTTON_<i>_LABEL \"\\\"<value>\\\"\"" @gen:8c2942c4e29ca22d
r5 meta engine.rule.r5 stated "match fact button.<i>.action => systemd.services.<self>.environment.BUTTON_<i>_ACTION \"\\\"<value>\\\"\"" @gen:8c2942c4e29ca22d
r6 meta engine.rule.r6 stated "match fact button.<i>.target => systemd.services.<self>.environment.BUTTON_<i>_TARGET \"\\\"<value>\\\"\"" @gen:8c2942c4e29ca22d
