q1 meta engine.demand.q1 stated "demand site.port \"on which port should the website be served?\"" @gen:6e49c98d7d3efa26
q2 meta engine.demand.q2 stated "demand button.<n>.action \"what should happen when this button is clicked?\"" @gen:6e49c98d7d3efa26
r1 meta engine.rule.r1 stated "match fact site.port => services.darkhttpd.enable \"true\" ; services.darkhttpd.port \"<value:int>\" ; services.darkhttpd.rootDir \"\\\"/var/lib/<self>\\\"\" ; site.<self>.command \"\\\"<self>\\\"\" ; systemd.services.<self>.wantedBy \"[ \\\"multi-user.target\\\" ]\" ; systemd.services.<self>.before \"[ \\\"darkhttpd.service\\\" ]\" ; systemd.services.<self>.serviceConfig.Type \"\\\"oneshot\\\"\" ; systemd.services.<self>.serviceConfig.StateDirectory \"\\\"<self>\\\"\" ; systemd.services.<self>.serviceConfig.ExecStart \"\\\"${site}/bin/<self>\\\"\" ; systemd.services.<self>.serviceConfig.StandardOutput \"\\\"file:/var/lib/<self>/index.html\\\"\" ; claim.page.call \"(begin (main) #t)\" ; claim.page.equals \"#t\"" @gen:6e49c98d7d3efa26
r2 meta engine.rule.r2 stated "match fact canvas.<n> => clause.main \"[ (define (main) (emit \\\"<meta charset='utf-8'>\\\") (emit \\\"<div id='canvas-#<value>' class='canvas' data-slot='#<n>' style='width:400px;height:300px;border:1px solid gray'></div>\\\") (emit \\\"<script>function rnd(n){return Math.floor(Math.random()*n)}function paint(el){var s='<svg viewBox=0,0,400,300 width=400 height=300>';for(var i=0;i<14;i++){s+='<circle cx='+rnd(400)+' cy='+rnd(300)+' r='+(6+rnd(38))+' fill=hsl('+rnd(360)+',70%,60%) opacity=0.65/>'}el.innerHTML=s}function erase(el){el.innerHTML=''}function save(el){var b=new Blob([el.innerHTML],{type:'image/svg+xml'});var a=document.createElement('a');a.href=URL.createObjectURL(b);a.download='painting.svg';a.click()}function canvasOf(name){return document.getElementById('canvas-'+name)}</script>\\\")) ]\"" @gen:6e49c98d7d3efa26
r3 meta engine.rule.r3 stated "match fact canvas.<n>.content => clause.main \"[ (define (main) (emit \\\"<meta charset='utf-8'>\\\") (emit \\\"<script>(function(){var l=document.querySelectorAll('.canvas');for(var i=0;i<l.length;i++){if(l[i].getAttribute('data-slot')==='#<n>'){l[i].title='#<value>';paint(l[i])}}})()</script>\\\")) ]\"" @gen:6e49c98d7d3efa26
r4 meta engine.rule.r4 stated "match fact button.<n> => clause.main \"[ (define (main) (emit \\\"<meta charset='utf-8'>\\\") (emit \\\"<button id='btn-#<n>'>#<value></button>\\\")) ]\"" @gen:6e49c98d7d3efa26
r5 meta engine.rule.r5 stated "match fact button.<n>.action => clause.main \"[ (define (main) (emit \\\"<meta charset='utf-8'>\\\") (emit \\\"<script>(function(){var spec='#<value>';var k=spec.indexOf(' ');var verb=spec.slice(0,k);var target=spec.slice(k+1);document.getElementById('btn-#<n>').onclick=function(){var c=canvasOf(target);if(verb==='paint'){paint(c)}else if(verb==='erase'){erase(c)}else{save(c)}}})()</script>\\\")) ]\"" @gen:6e49c98d7d3efa26
