q1 meta engine.demand.q1 stated "demand cmd.<name>.msg \"what message should the greet command print?\"" @gen:219f101bf0618684
r1 meta engine.rule.r1 stated "match fact cmd.<name>.msg => artifact.<name>.builder \"\\\"writeShellApplication\\\"\" ; artifact.<name>.args.name \"\\\"<name>\\\"\" ; artifact.<name>.args.text \"\\\"echo \\\\\\\"<value>\\\\\\\"\\\"\" ; home.packages \"[ ${artifact.<name>} ]\"" @gen:219f101bf0618684
r2 meta engine.rule.r2 stated "match fact schedule.<name>.time => systemd.user.services.<name>.Service.ExecStart \"\\\"${artifact.<name>}/bin/<name>\\\"\" ; systemd.user.timers.<name>.Timer.OnCalendar \"\\\"*-*-* <value>:00\\\"\" ; systemd.user.timers.<name>.Install.WantedBy \"[ \\\"timers.target\\\" ]\"" @gen:219f101bf0618684
